/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Roboto';
	/* sizing includes border/padding */
}

.page-wrap {
	display: flex;
	flex-direction: column;
}

.header {
	background: #1f2937;
	display: flex;
	justify-content: space-around;
	padding: 50px 25px 100px 25px;
}

.header-logo {
	color: #f9faf8;
	font-size: 24px;
	flex-shrink: 0;
}

.header-links {
	display: flex;
	gap: 50px;
}

.section-1 {
	background: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 100px 250px 25px;
	gap: 60px;
}

.s1-left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 400px;
}

.s1-right {
	display: flex;
}

.s1-left-header {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8
}

.s1-left-text {
	color: #e5e7eb;
	font-size: 18px;
}

.section-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.s2-body {
	display: flex;
}

.section-3 {
	display: flex;
	background: #e5e7eb;
	color: #1f2937;
	font-size: 36px;
}

.section-4 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1f2937;
	color: #e5e7eb;
}

button {
	background-color: #3882f6;
	width: 75px;
	border-radius: 50px;
	color: #f9faf8;
}

ul,
ol {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}