body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-top:25px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 25px;
}

.headerLinks ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.headerLogo {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
}

a.headerLinks {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Section 1 */
.section1 {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15%;
    padding-right: 15%;
}

.s1Left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 50%;
    gap: 15px;
}

.s1Right {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.s1Left {
    font-size: 48px;
    color: #f9faf8
}

p.s1Left {
    font-size: 18px;
    color: #e5e7eb;
}

button.s1Left {
    position: relative;
    display: inline-block;
    color:#f9faf8;
    background-color: #3882F6;
    border-radius: 8px;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;   
    text-align: center;
    font-family: monospace;
}